doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=3, initial-scale=1.0")
    script(src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js")
    link(rel="stylesheet", href="/css/index.css")
    title Dashboard
  body
    div#clients-container()

    script(src="https://cdn.socket.io/4.0.1/socket.io.min.js") 
    script(src="/js/index.js")